*{margin: 0;padding: 0;box-sizing: border-box;}
body{font-size: 16px;}
h1{  
    font-size: 2em;
    margin: 24px 8px;  
}
h2{
    font-size: 1.5em;
    padding: 16px 8px;
}
span{
    margin-right: 2em;
}
.show {

}

body{
    display: flex;
    flex-direction: column;
}
.showwrapper{
    display: flex;
    flex-direction: column;
    margin: 8px;
}
.show{
    display: flex;
    flex-direction: row;
}
.line{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #888;
}
.title{
    background: #848484;
    display: flex;
}
.line-h h2{
    display: block;
    align-items: center;
}
.line-h{
    padding: 2em 1em;
    display: flex;
    background-color: #eee;
}
